engine-strict=true

@cloudflight:registry=https://artifacts.cloudflight.io/repository/cloudflight-frontend-packages-npm-public/
//artifacts.cloudflight.io/repository/cloudflight-frontend-packages-npm-public/:_auth=${PUBLISH_NPM_AUTH}
always-auth=true
